<!-- templates/accueil.html -->

<section id="infos" class="infos">
  <div class="container my-4 content">
    <div class="section-title">
      <h1>Menu principal</h1>
    </div>
    
    <div class="row mx-1 text-center">
      <div class="accordion accordion-flush">
        <div class="accordion-item">
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <!-- Affichage du tableau des matériels -->
              {% if materiels %}
                <table>
                    <tr>
                        {# Génération des en-têtes de colonnes #}
                        {% for column in materiels[0].keys() %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>

                    {# Génération du corps du tableau #}
                    {% for row in materiels %}
                        <tr>
                            {% for key, value in row.items() %}
                                {% if key == "Image" %}
                                    <td><img class="image_table" src="{{ url_for('static', filename='img/' ~ value) }}" alt="{{ value }}"></td>
                                {% elif key == "Prix" %}
                                    <td>{{ value }} €</td>
                                {% else %}
                                    <td>{{ value }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Aucune donnée à afficher.</p>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>