<!-- templates/connexion.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
    <div class="wrapper">
        <div id="formContent">
            <div class="first">
                <img src="{{ url_for('static', filename='img/mamazon.png') }}" id="icon" alt="Mamazon" />
                <h1>Connexion</h1>
            </div>
            <form method="POST">
                <input type="text" id="login" name="login" required placeholder="username">
                <input type="password" id="password" name="password" required placeholder="password">
                <input type="submit" value="Connexion">
            </form>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
