{% block content %}
<section id="infos" class="infos">
    <div class="container my-4 content">
        <div class="section-title">
            <h1>Nouveau matériel</h1>
        </div>
        <div class="row">
            <article>
                <h2>Formulaire d'insertion :</h2>
                <form action="{{ url_for('insertion_route') }}" method="post" id="insertion">
                    <fieldset>
                        <label for="id_type_mat">Type du matériel :</label>
                        <select id="id_type_mat" name="type_mat" size="1">
                            {% for type in types %}
                            <option value="{{ type }}" {{ 'selected' if request.form.get('type_mat') == type else '' }}>{{ type|capitalize }}</option>
                            {% endfor %}
                        </select> <br />
                
                        <label for="id_fournisseur">Fournisseur :</label>
                        <select id="id_fournisseur" name="fournisseur" size="1">
                            {% for fournisseur in fournisseurs %}
                            <option value="{{ fournisseur.nomfournisseur }}" {{ 'selected' if request.form.get('fournisseur') == fournisseur.nomfournisseur else '' }}>{{ fournisseur.nomfournisseur }}</option>
                            {% endfor %}
                        </select> <br />
                
                        <label for="id_marque">Marque : </label>
                        <input type="text" name="marque" id="id_marque" placeholder="Marque" required size="6" value="{{ request.form.get('marque', '') }}" /><br />
                
                        <label for="id_description">Description : </label>
                        <input type="text" name="description" id="id_description" placeholder="Description" required size="20" value="{{ request.form.get('description', '') }}" /><br />
                
                        <label for="id_prix">Prix :</label>
                        <input id="id_prix" name="prix" type="number" min="1" step="any" required value="{{ request.form.get('prix', '') }}" /><br />
                
                        <label for="id_nom_image">Nom de l'image : </label>
                        <input type="text" name="nom_image" id="id_nom_image" placeholder="image.png" required size="6" value="{{ request.form.get('nom_image', '') }}" />
                
                        <input type="submit" name="submit" value="Submit" />
                    </fieldset>
                </form>
                
                {% if res is defined %}
                    <p id="res_insertion">{{ res }}</p>
                    {% if materiels %}
                        <table>
                            <tr>
                                {# Génération des en-têtes de colonnes #}
                                {% for column in materiels[0].keys() %}
                                    <th>{{ column }}</th>
                                {% endfor %}
                            </tr>

                            {# Génération du corps du tableau #}
                            {% for row in materiels %}
                                <tr>
                                    {% for key, value in row.items() %}
                                        {% if key == "Image" %}
                                            <td><img class="image_table" src="{{ url_for('static', filename='img/' ~ value) }}" alt="{{ value }}"></td>
                                        {% elif key == "Prix" %}
                                            <td>{{ value }} €</td>
                                        {% else %}
                                            <td>{{ value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>Aucune donnée à afficher.</p>
                    {% endif %}
                {% elif error is defined %}
                    <p>{{ error }}</p>
                {% endif %}
            </article>
        </div>
    </div>
</section>
{% endblock %}
